<div class="rt-block">
	<div class="module-surround">
		<!-- IF AFTERBURNER2_CONTACT_LABEL -->
		<div class="module-title">
			<h2 class="title">{AFTERBURNER2_CONTACT_LABEL}<span class="icon-chevron-down rt-teaser"></span></h2>
		</div>
		<!-- ENDIF -->
		<div class="module-content">
			<div class="custombox5 fp-footer-b">
				<!-- IF AFTERBURNER2_CONTACT_PHONE1 or AFTERBURNER2_CONTACT_PHONE2 -->
				<div class="gantry-width-10 gantry-width-block">
					<h4 class="smallmargintop"><span class="icon-phone"></span></h4>
				</div>
				<div class="gantry-width-80 gantry-width-block">
					<strong>{AFTERBURNER2_CONTACT_PHONE1}</strong><br />
					<small>{AFTERBURNER2_CONTACT_PHONE2}</small>
				</div>
				<div class="clear medmarginbottom">&nbsp;</div>
				<!-- ENDIF -->
				<!-- IF AFTERBURNER2_CONTACT_ADDRESS1 or AFTERBURNER2_CONTACT_ADDRESS2 -->
				<div class="gantry-width-10 gantry-width-block">
					<h4 class="smallmargintop"><span class="icon-home"></span></h4>
				</div>
				<div class="gantry-width-80 gantry-width-block">
					<span>{AFTERBURNER2_CONTACT_ADDRESS1}</span><br />
					<small>{AFTERBURNER2_CONTACT_ADDRESS2}</small> 
				</div>
				<div class="clear medmarginbottom">&nbsp;</div>
				<!-- ENDIF -->
				<!-- IF AFTERBURNER2_CONTACT_EMAIL -->
				<div class="gantry-width-10 gantry-width-block">
					<span class="icon-envelope-alt"></span>
				</div>
				<div class="gantry-width-80 gantry-width-block">
					<span><a href="mailto:{AFTERBURNER2_CONTACT_EMAIL}">{AFTERBURNER2_CONTACT_EMAIL}</a></span>
				</div>
				<div class="clear largemarginbottom">&nbsp;</div>
				<!-- ENDIF -->
					<!-- IF AFTERBURNER2_SOCIAL -->
				<!-- INCLUDE features/social.html -->
				<!-- ENDIF -->
			</div>
			
				<div class="clear"></div>
		</div>
	</div>
</div>