<ul class="menu">
        <!-- IF AFTERBURNER2_LINK1_HREF or AFTERBURNER2_LINK1_DESC --><li><a href="{AFTERBURNER2_LINK1_HREF}">{AFTERBURNER2_LINK1_DESC}</a></li><!-- ENDIF -->
        <!-- IF AFTERBURNER2_LINK2_HREF or AFTERBURNER2_LINK2_DESC --><li><a href="{AFTERBURNER2_LINK2_HREF}">{AFTERBURNER2_LINK2_DESC}</a></li><!-- ENDIF -->
        <!-- IF AFTERBURNER2_LINK3_HREF or AFTERBURNER2_LINK3_DESC --><li><a href="{AFTERBURNER2_LINK3_HREF}">{AFTERBURNER2_LINK3_DESC}</a></li><!-- ENDIF -->
        <!-- IF AFTERBURNER2_LINK4_HREF or AFTERBURNER2_LINK4_DESC --><li><a href="{AFTERBURNER2_LINK4_HREF}">{AFTERBURNER2_LINK4_DESC}</a></li><!-- ENDIF -->
        <!-- IF AFTERBURNER2_LINK5_HREF or AFTERBURNER2_LINK5_DESC --><li><a href="{AFTERBURNER2_LINK5_HREF}">{AFTERBURNER2_LINK5_DESC}</a></li><!-- ENDIF -->
        <!-- IF AFTERBURNER2_LINK6_HREF or AFTERBURNER2_LINK6_DESC --><li><a href="{AFTERBURNER2_LINK6_HREF}">{AFTERBURNER2_LINK6_DESC}</a></li><!-- ENDIF -->
        <!-- IF AFTERBURNER2_LINK7_HREF or AFTERBURNER2_LINK7_DESC --><li><a href="{AFTERBURNER2_LINK7_HREF}">{AFTERBURNER2_LINK7_DESC}</a></li><!-- ENDIF -->
        <!-- IF AFTERBURNER2_LINK8_HREF or AFTERBURNER2_LINK8_DESC --><li><a href="{AFTERBURNER2_LINK8_HREF}">{AFTERBURNER2_LINK8_DESC}</a></li><!-- ENDIF -->
 </ul>