<div class="rt-grid-3 rt-omega">
    <div class="rt-block rt-{AFTERBURNER2_BLOCKS_DEFAULT_OVERLAY}-block basic">
        <div id="rt-accessibility">
            <div class="rt-desc">{L_CHANGE_FONT_SIZE}</div>
            <div id="rt-buttons">
                <a href="#" onclick="fontsizedown(); return false;" onkeypress="fontsizedown(); return false;" title="{L_CHANGE_FONT_SIZE}" class="small"><span class="button"></span></a>
                <a href="#" onclick="fontsizeup(); return false;" onkeypress="fontsizeup(); return false;" title="{L_CHANGE_FONT_SIZE}" class="large"><span class="button"></span></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>