<!-- IF AFTERBURNER2_ADDITIONAL_LINK1_HREF or AFTERBURNER2_ADDITIONAL_LINK1_DESC -->
<li class="item56">
	<span class="rt-menu-border"></span>
	<a class="daddy item bullet"  href="{AFTERBURNER2_ADDITIONAL_LINK1_HREF}">
	<span class="rt-item-border"></span>
		{AFTERBURNER2_ADDITIONAL_LINK1_DESC}</a>
	<span class="rt-item-shadow"></span>
</li>
<!-- ENDIF -->
<!-- IF AFTERBURNER2_ADDITIONAL_LINK2_HREF or AFTERBURNER2_ADDITIONAL_LINK2_DESC -->
<li class="item57">
	<span class="rt-menu-border"></span>
	<a class="daddy item bullet"  href="{AFTERBURNER2_ADDITIONAL_LINK2_HREF}">
	<span class="rt-item-border"></span>
		{AFTERBURNER2_ADDITIONAL_LINK2_DESC}</a>
	<span class="rt-item-shadow"></span>
</li>
<!-- ENDIF -->
<!-- IF AFTERBURNER2_ADDITIONAL_LINK3_HREF or AFTERBURNER2_ADDITIONAL_LINK3_DESC -->
<li class="item58">
	<span class="rt-menu-border"></span>
	<a class="daddy item bullet"  href="{AFTERBURNER2_ADDITIONAL_LINK3_HREF}">
	<span class="rt-item-border"></span>
		{AFTERBURNER2_ADDITIONAL_LINK3_DESC}</a>
	<span class="rt-item-shadow"></span>
</li>
<!-- ENDIF -->
<!-- IF AFTERBURNER2_ADDITIONAL_LINK4_HREF or AFTERBURNER2_ADDITIONAL_LINK4_DESC -->
<li class="item59">
	<span class="rt-menu-border"></span>
	<a class="daddy item bullet"  href="{AFTERBURNER2_ADDITIONAL_LINK4_HREF}">
	<span class="rt-item-border"></span>
		{AFTERBURNER2_ADDITIONAL_LINK4_DESC}</a>
	<span class="rt-item-shadow"></span>
</li>
<!-- ENDIF -->