<div class="rt-grid-2">
<div class="rt-social-buttons">
			<!-- IF FB_URL -->
			<a class="social-button rt-social-button-1" href="{FB_URL}" target="_blank">
				<span class="rt-grey rt-mini-icon icon-facebook"></span>
			</a>
			<!-- ENDIF -->
			<!-- IF TWITTER_URL -->
			<a class="social-button rt-social-button-2" href="{TWITTER_URL}" target="_blank">
				<span class="rt-grey rt-mini-icon icon-twitter"></span>
			</a>
			<!-- ENDIF -->
			<!-- IF GOOGLE_URL -->
			<a class="social-button rt-social-button-3" href="{GOOGLE_URL}" target="_blank">
				<span class="rt-grey rt-mini-icon icon-google-plus"></span>
			</a>
			<!-- ENDIF -->
			<!-- IF RSS_URL -->
			<a class="social-button rt-social-button-4" href="{RSS_URL}" target="_blank">
				<span class="rt-grey rt-mini-icon icon-rss"></span>
			</a>
			<!-- ENDIF -->
			<div class="clear"></div>
	</div>
	</div>